<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SEE</title>
    <script type="text/javascript" src="static/js/jquery-1.11.1.js"></script>
</head>
<div id="msgFrompPush"></div>
<script type="text/javascript">

    // if(typeof(EventSource) !== "undefined") {
    // 是的！支持服务器发送事件！
    // 一些代码.....
    // } else {
        // 抱歉！不支持服务器发送事件！
    // }
    if (!!window.EventSource) { //①
        var source = new EventSource('push');
        s='';
        source.addEventListener('message', function(e) {//接收到消息
            console.log(e);
            s=e.data+"<br/>";
            $("#msgFrompPush").html(s);

        });

        source.addEventListener('open', function(e) {// 当通往服务器的连接被打开
            console.log("连接打开.");
        }, false);

        source.addEventListener('error', function(e) { // 当发生错误
            if (e.readyState == EventSource.CLOSED) {
                console.log("连接关闭");
            } else {
                console.log(e.readyState);
            }
        }, false);
    } else {
        console.log("你的浏览器不支持SSE");
    }
</script>
<body>

</body>
</html>